/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #232a31;
}

.item-fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #33333309;
    padding: 10px 5px;
    border-radius: 10px;
}

.btn-fixed {
    border: 0px;
    background-color: transparent;
}

.btn-fixed:hover {
    cursor: pointer;
}

.arrow {
    color: #2cc76a;
}

h1,
h2,
h3 {
    color: #dfdfdf;
}

p {
    color: rgb(201, 201, 201);
}

/* Navbar */

.nav-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

strong {
    color: #2cc76a;
}

nav {
    position: relative;   
    max-width: 100%;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .nav-container {
        padding: 0 1rem;
    }
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    margin: 0px 5px;
}

.navbar-items a:hover {
    color: #2cc762;
    border-bottom: 1px solid #2cc762;
    transition: 0.5s;
}

.navbar-items .item-button:hover {
    border-bottom: 1px solid #2cc762;
    padding-bottom: 5px;
}

.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
    border: 2px solid #2cc76a;
}

.default-btn:hover {
    padding: 15px 20px;
    border: 2px solid #2cc76a;
    background-color: transparent;
    border-radius: 5px;
    color: #2cc76a !important;
}

/* Main banner */

.main-banner {
    background-image: url("../img/mainbanner.png");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
     font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

/* services */

.services-container {
    padding: 5rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 24px;
}

/* prices and plans */

.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2{
    font-size: 36px;
    padding-top: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
    border-radius: 10px !important;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
    border-radius: 10px 10px 0px 0px;
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    opacity: .9;
}

.plan .plan-btn:hover {
    opacity: 1;
}

.plan .recommend {
    background-color: #ff3831;
}

/* search domain */

.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
    margin-bottom: 50px;
}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    background-color: #e8e9ea;
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    background-color: #2cc76a;
    border: 1px solid #2cc76a;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}
 
.searchdomain-container input[type="submit"]:hover {
    background-color: transparent;
    color: #2cc76a;
    padding: 15px 32px;
    opacity: 1;
}


/* contact form */

.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #2cc762;
    background-color: #e8e9ea;
    margin: 0 10px 20px;
}

input:focus, textarea:focus {
    outline-color: #2cc76a;
    outline-offset: 1px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 425px;
    height: 150px;
}

.searchdomain-container input[type="text"]{
    outline-color: #2cc76a;
    outline-offset: 2px;
    
    animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 50px;
  }
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    width: 200px;
}

.contact-container input[type="submit"]:hover {
    background-color: transparent;
    color: #2cc76a;
    width: 250px;
}

/* footer */

footer {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 100px;
}

/* ~ Responsividade ~ */

/* small laptops a partir de 1100px  */

@media (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* tablet 900px */

@media (max-width: 900px) {
    .main-banner p {
        padding: 0 6rem;
    }

    .searchdomain-container {
        padding: 2rem 4rem;
    }

    .services-container ul {
        flex-direction: column;
    }

    .plans-container {
        flex-direction: column;
        padding: 0 2rem;
        width: 100%;
    }

    .plan {
        margin: 0 auto 50px;
    }

    .contact-container input[type="submit"]:hover {
        width: 100%;
        max-width: 100%;
    }
}

/* celular 576px */

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }

    .searchdomain-container h2{
        font-size: 30px;
    }

    .searchdomain-container p{
        font-size: 15px;
    }


    .navbar-items {
        font-size: 14px;
        margin-left: 10px;
    }

    .services-container ul {
        flex-direction: column;
    }

    .services-container h2 {
        font-size: 28px;
    }

    .searchdomain-container input[type="text"] {
        width: 100%;
        height: 30px;
        font-size: 14px;
    }

    .searchdomain-container input[type="submit"] {
        padding: 10px 15px;
        font-size: 16px;
        background-color: #2cc76a;
        color: #fff;
        cursor: pointer;
        opacity: .9;
    }

    .main-banner p {
        padding: 0 2rem;
    }

    .plans-container {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact-container {
        padding: 3rem 2rem;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        margin: 10px 0;
    }
}

/* página erro de login */

.error-message {
    display: flex;
    text-align: center; 
    font-size: 50px;    
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

.error-message .fa-triangle-exclamation {
    font-size: 60px;
    margin: 10px;
}

.center {
    text-align: center;
}

.btn-return {
    border: 1px solid yellow;
    padding: 10px 20px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    background-color: yellow;
    cursor: pointer;
    width: 300px;
    height: 60px;
    font-size: 20px;
}

@media (max-width: 800px) {
    .error-message {
        font-size: 20px;
    }
}

/* Finalizando Seção de Projeto da hDC Host com HTML5 e CSS3 (22.08.2023) => {16:00}; */