/* Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../img/mainbanner.png');
    background-position: center;
    backdrop-filter: blur(10px);
    overflow-y: hidden;
}

.footer-page {
    height: 200px;
}

.main-container {
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    box-shadow: 2px 2px 10px #2cc76a;
    max-width: 550px;
    margin: 60px auto 0;
    padding: 20px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.head-card-login {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.head-card-login h1 {
    color: #34454e;
    font-size: 40px;
}

.head-card-login p {
    color: #131c20;
}

.head-card-login strong {
    color: #2cc76a;
}

.main-card-login {
    margin-bottom: 30px;
}

.main-card-login input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2px auto;
}

.main-card-login input[type="text"],
.main-card-login input[type="password"] {
    border: 1px solid #2cc76a49;
    background-color: #dfdfdf;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.main-card-login input[type="text"]:focus,
.main-card-login input[type="password"]:focus {
    outline-color: #2cc76a;
    background-color: #ececec65;
    outline-offset: 1px;
}

.main-card-login input[type="submit"] {
    border: 1px solid #2cc76a;
    background-color: #2cc76a;
    border-radius: 5px;
    width: 250px;
    padding: 13px 20px;
    margin-top: 10px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #dfdfdf;
}

.main-card-login input[type="submit"]:hover {
    border: 1px solid #2cc76a;
    background-color: #249e55;
    color: #dfdfdf;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    align-items: center;
    cursor: pointer;
}

.footer-card-login {
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.footer-card-login p {
    color: #141414;
    font-size: 14px;
}

.link, a{
    text-decoration: none;
}

@media (max-width: 900px) {
    body {
        padding: 20px;
        background-image: url('../img/mainbanner.png');
        background-position: center;
    }

    .main-container {
        border-color: #2cc76a;
    }

    .main-card-login input[type="password"] {
        color: #249e55;
    }

    .footer-card-login p {
        color: #232a31;
    }
}

/* Finalizando Seção de Projeto da hDC Host com HTML5 e CSS3 (22.08.2023) => {16:00}; */